.u-section-1 .u-sheet-1 {
  min-height: 722px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 801px;
  margin: 60px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 582px;
  background-image: url("images/leana_renon.jpg");
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 582px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  width: 512px;
  min-height: 411px;
  background-image: linear-gradient(white, #e9f2fa);
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: -391px 114px 60px auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: -375px;
    margin-right: 53px;
    margin-bottom: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 523px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 523px;
  }

  .u-section-1 .u-group-1 {
    width: 452px;
    min-height: 367px;
    margin-top: -307px;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 357px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 520px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    min-height: 389px;
    margin-top: -467px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-1 .u-image-1 {
    min-height: 494px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 494px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 508px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 27px 825px 0 0;
}

.u-section-2 .u-line-1 {
  width: 912px;
  margin: 1px 0 0;
}

.u-section-2 .u-list-1 {
  min-height: 365px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-template-rows: auto;
  margin-top: 27px;
  margin-bottom: 34px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 30px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 625px;
  }

  .u-section-2 .u-list-1 {
    min-height: 301px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    height: 24px;
  }

  .u-section-2 .u-btn-2 {
    height: 24px;
  }

  .u-section-2 .u-btn-3 {
    height: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 995px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 405px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    min-height: 851px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 225px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1278px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 32px;
    margin-right: 25px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 611px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 27px 0 0 777px;
}

.u-section-3 .u-line-1 {
  width: 912px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-tabs-1 {
  min-height: 439px;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-right: 0;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-2 {
  margin-bottom: 5px;
  margin-top: 0;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-3 {
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 309px;
  height: 327px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: -327px 0 0 352px;
}

.u-section-3 .u-text-3 {
  margin: 0 0 0 352px;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0 352px;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 309px;
  height: 327px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: -327px 0 0 352px;
}

.u-section-3 .u-text-6 {
  margin: 0 0 0 352px;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0 352px;
}

.u-section-3 .u-tab-pane-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 309px;
  height: 327px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  margin: -327px 0 0 352px;
}

.u-section-3 .u-text-9 {
  margin: 0 0 0 352px;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 65px 352px;
}

.u-section-3 .u-tab-pane-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 309px;
  height: 327px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-11 {
  margin: -327px 0 0 352px;
}

.u-section-3 .u-text-12 {
  margin: 0 0 0 352px;
}

.u-section-3 .u-text-13 {
  margin: 20px 0 0 352px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 577px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 530px;
    height: auto;
    margin-bottom: 28px;
    margin-right: initial;
  }

  .u-section-3 .u-tab-pane-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 41px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -362px;
    margin-right: 28px;
    margin-left: 337px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 28px;
    margin-left: 337px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 30px;
    margin-right: 28px;
    margin-left: 337px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -338px;
    margin-left: 338px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 10px;
    margin-left: 338px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 28px;
    margin-bottom: -11px;
    margin-left: 338px;
  }

  .u-section-3 .u-tab-pane-3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 41px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: -362px;
    margin-right: 28px;
    margin-left: 337px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-right: 28px;
    margin-left: 337px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 30px;
    margin-right: 28px;
    margin-left: 337px;
  }

  .u-section-3 .u-tab-pane-4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-4 {
    margin-top: 41px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: -362px;
    margin-right: 28px;
    margin-left: 337px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-right: 28px;
    margin-left: 337px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: 30px;
    margin-right: 28px;
    margin-left: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 357px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 789px;
    margin-bottom: 55px;
    margin-right: initial;
  }

  .u-section-3 .u-image-1 {
    width: 610px;
    height: 341px;
    margin-top: 0;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 34px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 341px;
    width: 620px;
    margin-left: auto;
  }

  .u-section-3 .u-text-5 {
    margin-top: 34px;
    margin-right: 118px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 128px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: 610px;
    height: 341px;
    margin-top: 3px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 34px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin: 25px 0 0;
  }

  .u-section-3 .u-image-4 {
    width: 610px;
    height: 341px;
    margin-top: 0;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 34px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 177px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 662px;
    margin-bottom: 60px;
    margin-right: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 27px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 44px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-5 {
    margin-top: 27px;
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 27px;
    margin-right: 6px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-8 {
    margin-top: 27px;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-top: 27px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-11 {
    margin-top: 27px;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-top: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 880px;
    margin-right: initial;
  }

  .u-section-3 .u-tab-link-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-tab-link-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-tab-link-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-tab-link-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-image-1 {
    height: 277px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-top: 38px;
  }

  .u-section-3 .u-image-2 {
    height: 277px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 277px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-8 {
    margin-top: 38px;
  }

  .u-section-3 .u-image-4 {
    height: 277px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-11 {
    margin-top: 38px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 620px;
}

.u-section-4 .u-shape-1 {
  width: 904px;
  height: 452px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: normal;
  font-family: "Titillium Web", sans-serif;
  margin: -382px 95px 0;
}

.u-section-4 .u-list-1 {
  min-height: 346px;
  grid-template-columns: calc(25% - 23px) calc(25% - 23px) calc(25% - 23px) calc(25% - 23px);
  grid-template-rows: auto;
  width: 1138px;
  grid-gap: 30px 30px;
  margin: 82px auto 0;
}

.u-section-4 .u-list-item-1 {
  background-image: linear-gradient(white, #e9f2fa);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-group-1 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#478ac9, #adcce9);
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 5px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 20px -9px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 23px -9px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: linear-gradient(white, #e9f2fa);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-group-2 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#478ac9, #adcce9);
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 5px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 20px -9px 0 0;
}

.u-section-4 .u-text-7 {
  margin: 23px -9px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: linear-gradient(white, #e9f2fa);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-group-3 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#478ac9, #adcce9);
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-text-8 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 5px;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  margin: 20px -9px 0 0;
}

.u-section-4 .u-text-10 {
  margin: 23px -9px 0 0;
}

.u-section-4 .u-list-item-4 {
  background-image: linear-gradient(white, #e9f2fa);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-group-4 {
  width: 80px;
  min-height: 80px;
  background-image: linear-gradient(#478ac9, #adcce9);
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 0;
}

.u-section-4 .u-text-11 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 5px;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  margin: 20px -9px 0 0;
}

.u-section-4 .u-text-13 {
  margin: 23px -9px 0 0;
}

.u-section-4 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: -423px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    min-height: 285px;
    width: 940px;
    height: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    font-size: 2.75rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
  }

  .u-section-4 .u-line-1 {
    margin-top: -414px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-4 .u-shape-1 {
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    min-height: 677px;
    grid-template-columns: calc(50% - 15.3333px) calc(50% - 15.3333px);
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-line-1 {
    margin-top: -759px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-4 .u-shape-1 {
    width: 640px;
    height: 283px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -213px;
  }

  .u-section-4 .u-list-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1510px;
  }

  .u-section-4 .u-shape-1 {
    width: 726px;
    margin-left: -193px;
    margin-right: -193px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -252px;
  }

  .u-section-4 .u-list-1 {
    grid-template-columns: 100%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-11 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-line-1 {
    margin-top: -1400px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 534px;
}

.u-section-5 .u-shape-1 {
  width: 722px;
  height: 464px;
  margin: 34px auto 0 141px;
}

.u-section-5 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -464px 410px 0;
}

.u-section-5 .u-form-1 {
  height: 313px;
  width: 670px;
  margin: 75px auto 60px;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 310px;
    margin-right: 310px;
  }

  .u-section-5 .u-form-1 {
    width: 570px;
    margin-top: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-shape-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-shape-1 {
    width: 540px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 110px;
    margin-right: 110px;
  }

  .u-section-5 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
    margin-top: 47px;
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -451px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-form-1 {
    width: 340px;
    margin-bottom: 83px;
  }
}